/* Style the button that is used to open and close the collapsible content */
#oi {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content1 {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*
#oi:after {
  content: '\02795'; 
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
*/

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion-button {
  font-size: 3.2rem;
}

.accordion-header {
  margin: 0;
}

